#Schwirig {
    margin-left: 1px;
    /* Fügt 1 Pixel Abstand zum linken Rand hinzu */
    border: none;
    background: none;
    text-transform: uppercase;
    font-family: "Lato", "Helvetica";
    height: 100%;
    font-weight: 700;
    letter-spacing: 3.5px;
    color: #F9690E;
    font-size: inherit;
    transition: all .5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    outline: none;
}

#Schwirig input[type="number"] {
    /* Fügt keinen rechten Abstand zum Button hinzu */
    border: none;
    background: none;
    text-transform: uppercase;
    font-family: "Lato", "Helvetica";
    height: 100%;
    font-weight: 700;
    letter-spacing: 3.5px;
    color: #F9690E;
    font-size: inherit;
    transition: all .5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    outline: none;
    margin-right: 0;
    /* Fügt keinen rechten Abstand hinzu */
}

body {
    background-color: #232323;
    margin: 0;
    font-family: "Lato", "Helvetica";

}

h1 {
    width: 500px;
    text-align: center;
    color: white;
    background-color: #F9690E;
    margin: 0 auto;
    font-size: 2.3em;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.4;
    padding: 20px 0;
    letter-spacing: 7px;
}

#kreiseContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* Horizontal zentrieren */
    align-items: center;
    /* Vertikal zentrieren */
    margin-top: 20px;
    /* Abstand zum oberen Inhalt */
}

.kreis {
    background-color: purple;
    width: 20%;
    /* Standardgröße 20% */
    padding-bottom: 20%;
    /* Verhältnis für die Höhe */
    margin: 1.5%;
    border-radius: 50%;
    transition: background 0.8s;
    -webkit-transition: background 0.8s;
    -moz-transition: background 0.8s;
}

/* Positioniert das Textfeld rechts neben dem Button */
#Schwierigkeit {
    display: inline-block;

    margin-left: 20px;
    /* Abstand zum Button */
    vertical-align: middle;
    /* Zentriert es vertikal mit dem Button */

}

.schwirig {
    height: 49px;
    /* Höhe auf 49 Pixel festlegen */
    letter-spacing: 3.5px;
    /* Abstand zwischen Buchstaben */
    color: #F9690E;
}

#colorDisplay {
    font-size: 130%;
    border: 1px solid white;
    border-radius: 5px;
}

#message {
    display: inline-block;
    width: 20%;
    font-size: 20px;
}

#stripe {
    background-color: #fff;
    width: 500px;
    height: 50px;
    text-align: center;
    margin: 0 auto;
    padding: 0;

    display: flex;
    justify-content: flex-start;
    /* Button ganz links ausrichten */

}

.selected {
    color: white;
    background: #F9690E;
}

button {
    border: none;
    background: none;
    text-transform: uppercase;
    font-family: "Lato", "Helvetica";
    height: 51px;
    width: 225px;
    font-weight: 700;
    letter-spacing: 3.5px;
    color: #F9690E;
    font-size: inherit;
    transition: all .5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    outline: none;
}

button:hover {
    color: white;
    background-color: #F9690E;
    color: white;
}



/* CSS-Styling für die Navigationsleiste */
#navbar {
    background-color: #333;
    /* Hintergrundfarbe der Navigationsleiste */
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#navbar a {
    float: left;
    display: block;
    color: white;
    /* Schriftfarbe der Navigationsleisten-Links */
    text-align: center;
    padding: 14px 16px;
    /* Innenabstand der Links */
    text-decoration: none;
}

#navbar a:hover {
    background-color: #7c7c7c;
    /* Hintergrundfarbe bei Hover über Links */
    color: black;
    /* Schriftfarbe bei Hover über Links */
}